<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Table</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="/src/css/style.css" />
  </head>

  <body class="flex flex-col h-screen overflow-hidden bg-orange-50">
    <header class="bg-gray-200 w-full">
      <nav class="flex items-center justify-between w-full">
        <a href="index.html">
          <img
            class="h-24"
            src="/Web_uniSenai_branchs/src/img/marca-1.png"
            alt="Logo Senai"
          />
        </a>
        <ul class="menu menu-horizontal lg:menu-horizontal rounded-box">
          <li class>
            <a class="text-xl" href="login.html"> Login</a>
          </li>
          <li>
            <a class="text-xl" href="cadastro.html">Cadastro</a>
          </li>
          <li>
            <a class="text-xl" href="tabela.html">Tabela</a>
          </li>
        </ul>
      </nav>
    </header>

    <div class="flex-grow">
      <div>
        <h1 class="text-red-600 text-6xl">Cardápio</h1>
            <div>
        <p class="text-black text-3xl">
          Confira as melhores pizzas da região<br />
          Faça o pedido em nosso Whatsapp: 048 0000-0000<br />
        </p>
            </div>
      </div>

<div>
  <table class="table inset-x-48 w-4/5">
   
    <thead class="text-red-500">
        <tr>
          <th></th>
          <th>Item</th>
          <th>Preço</th>
          <th>Favoritos</th>
        </tr>
      </thead>
      <tbody class="text-black">
        
        <tr class="hover:bg-green-600">
          <th>1</th>
          <td>Pizza Broto</td>
          <td>R$10,00</td>
          <td>*</td>
        </tr>
        
        <tr>
          <th>2</th>
          <td>Pizza Média</td>
          <td>R$20,00</td>
          <td>*</td>
         
        <tr>
          <th>3</th>
          <td>Pizza Grande</td>
          <td>R$30,00</td>
          <td>*</td>

          <tr>
            <th>4</th>
            <td>Pizza Gigante</td>
            <td>R$40,00</td>
            <td>*</td>
        
            <tr>
                <th>5</th>
                <td>Porção Pequena</td>
                <td>R$5,00</td>
                <td>-</td>

                <tr>
                    <th>6</th>
                    <td>Porção Média</td>
                    <td>R$10,00</td>
                    <td>*</td>

                    <tr>
                        <th>7</th>
                        <td>Porção Grande</td>
                        <td>R$15,00</td>
                        <td>*</td>

                        <tr>
                            <th>8</th>
                            <td>Água</td>
                            <td>R$5,00</td>
                            <td>-</td>

                            <tr>
                                <th>9</th>
                                <td>Refrigerante</td>
                                <td>R$7,50</td>
                                <td>*</td>

                                <tr>
                                    <th>10</th>
                                    <td>Cerveja</td>
                                    <td>R$10,00</td>
                                    <td>-</td>
                                  </tr>
        </tr>
      </tbody>
    </table>
  </div>


    </div>

    <footer
      class="footer footer-center bg-gray-200 text-base-content p-4 w-full"
    >
      <aside>
        <p>
          Copyright © 2024 - Luiz Bernardi - Bruno Meredyk - Eliel Violante - Rafael
          Barbato
        </p>
      </aside>
    </footer>
  </body>
</html>